{{!-- conectar del lado del usuario con Websocket --}}
<h2>socket cliente</h2>
{{!-- conexion con libreria socket.io y ejecucion de archivo js llamando al metodo io --}}
<form id="form">
    <label>Product:</label><input type="text" name="name" id="name">
    <label>Price:</label><input type="text" name="price" id="price">
    <input type="submit" value="SEND">
</form>
<p id="products"></p>

<script src="/socket.io/socket.io.js" ></script>
<script src="/scriptSocketClient.js"></script>